/*!
 CSS za linkove
  */
@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 4px;
    color:hsl(142, 57%, 55%);
    transition: all .4s ease;
}
::-webkit-scrollbar-thumb {
    background: #4ace7b; 
    border-radius: 4px;
    width: 4px;
    transition: all .4s ease;
  }
  ::-webkit-scrollbar-track {
    background: #101010; 
    border-radius: 4px;
    width: 4px;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html{
    background: #101010;

}

.cursor{
    height: 50px;
    width: 50px;
    display: block;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    background: transparent;
    pointer-events: none;
    position: fixed;
    top: -25px;
    left: -25px;
    z-index: 10;
    opacity: .6;
    transition:  scale .5s ease;
}
.cursor-small{
    height: 50px;
    width: 50px;
    display: block;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    background: transparent;
    pointer-events: none;
    position: fixed;
    top: -25px;
    left: -25px;
    z-index: 10;
    opacity: .6;
    transition:  scale .4s ease;
}
#navigation-bar{
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 3;
    padding: 10px;
    background:transparent;
    overflow: hidden;
}
#navigation-bar img{
    height: 80px;
    position: absolute;
    top: 15%;
    left: 2.5%;
    opacity: .8;
    transition: all .4s ease;
}
#navigation-bar img:hover{
    opacity: 1;
    transform:rotate(-45deg);
}
.js img{
    position:absolute;
    top:250px;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.video{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:10px;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}
  

.row::after {
    clear: both;
    display: table;
}
#header{
    background:#171717;
    height: 100px;
    width: 100%;;
    overflow: hidden;
    position:relative;
    display: block;
}
#space{
    background:#171717;
    height: 30px;
    width: 100%;;
    overflow: hidden;
    position:relative;
    display: block;
}
.column2 {
    float: left;
    width: 33.3%;
    padding: 10px;
}
  

.row2::after {
    clear: both;
    display: table;
}
.column3 {
    float: left;
    width: 50%;
    padding: 25px;
}
  

.row3::after {
    clear: both;
    display: table;
}
